<h1><%= @neighborhood[:name] %>, <%= @neighborhood[:city] %></h1>

<div class="row">
    <div class="col-6">

    <!-- Overall Neighborhood Data -->

        <p>Population Density: <%= @neighborhood[:density] %> people per square mile</p>
        <p>Median Household Income: $<%= @neighborhood[:income] %></p>

        <h2>Overall renter rating</h2> 
        <h2>
            <% Integer @rounded_down = @avg_overall_sat.floor %>
            <% Integer @remainder = @avg_overall_sat - @rounded_down %>
            <!-- Rounded down: <%= @rounded_down %> -->
            <!-- Remainder: <%= @remainder %> -->
            <% @counter = 0 %>
            <% while @counter < @rounded_down %>
                <i class="fas fa-star"></i>
                <% @counter = @counter+1 %>
            <% end %>
            <% if @remainder >= 0.5 %>
                <i class="fas fa-star-half-alt"></i>
            <% end %>
        </h2>
    </div>
    <div class="col-6">
        <p>Do you or have you recently lived in <%= @neighborhood[:name] %>?</p>
        <% if @current_user %>
                <a href="/neighborhoods/<%= @neighborhood[:id] %>/reviews/new" class="btn btn-primary">Add your review</a>
        <% else %>
                <a href="/logins/new" class="btn btn-primary">Sign in to leave a review</a>
        <% end %>
    </div>
</div>

<div class ="row">
    
        <div class="container mt-5">
            <iframe
            width="400"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @formatted_lat_long %>&zoom=15" allowfullscreen>
            </iframe>
        </div>
</div>

<div class ="row">
    <div class="col-6">

        <h4>Neighborhood Scorecard</h4>
        <p>Availability and affordability: <%= @avg_affordability_sat.round(2) %></p>
        <p>Public transit access: <%= @avg_public_transit_sat.round(2) %></p>
        <p>Bike and pedestrian friendliness: <%= @avg_bike_walk_sat.round(2) %></p>
        <p>Safety from crime: <%= @avg_safety_sat.round(2) %></p>
        <p>Quality of things to do: <%= @avg_thing_to_do_sat.round(2) %></p>

    </div>
    <div class="col-6">
        <h4>Average Rental Rates</h4>
        <p>
            Studio: 
            <% if @avg_studio_rent == nil %>
                No Data
            <% else %>
                $<%= @avg_studio_rent.round(0) %>
            <% end %>
        </p>
        <p>
            One Bedroom: 
            <% if @avg_1bd_rent == nil %>
                No Data
            <% else %>
                $<%= @avg_1bd_rent.round(0) %>
            <% end %>
        </p>
        <p>
            Two Bedroom: 
            <% if @avg_2bd_rent == nil %>
                No Data
            <% else %>
                $<%= @avg_2bd_rent.round(0) %>
            <% end %>
        </p>
        <p>
            Three Bedroom: 
            <% if @avg_3bd_rent == nil %>
                No Data
            <% else %>
                $<%= @avg_3bd_rent.round(0) %>
            <% end %>
        </p>
    </div>
</div>

<div class ="row">
    <div class = "col-sm-9">
        <!-- Individual Reviews -->
        <h2>Total Reviews (<%= @review_count %>)</h2>
        <% for review in @reviews %>
            <% @counter = 0 %>
            <% while @counter < review[:overall_sat] %>
                <i class="fas fa-star"></i>
                <% @counter = @counter+1 %>
            <% end %>


            <div>
            <%= @users_table.where(id: review[:user_id]).to_a[0][:name] %>
            <p><%= review[:comment] %></p>

            <p>Availability and affordability: <%= review[:affordability_sat] %></p>
            <p>Public transit access: <%= review[:public_transit_sat] %></p>
            <p>Bike and pedestrian friendliness: <%= review[:bike_walk_sat] %></p>
            <p>Safety from crime: <%= review[:safety_sat] %></p>
            <p>Quality of things to do: <%= review[:thing_to_do_sat] %></p>
            </div>
           
        
    
        <% end %>
        
    

    
    </div>
</div>