<h1><%= @neighborhood[:name] %>, <%= @neighborhood[:city] %></h1>

<div class="row">
    <div class="col-6">

    <!-- Overall Neighborhood Data -->

        <p>Population Density: <%= @neighborhood[:density] %> people per square mile</p>
        <p>Median Household Income: $<%= @neighborhood[:income] %></p>

    </div>
    <div class="col-6">
        <p>There are no reviews yet! Live in <%= @neighborhood[:name] %>?</p>
        <p>Help the renter community learn more by leaving a review.</p>
        <% if @current_user %>
                <a href="/neighborhoods/<%= @neighborhood[:id] %>/reviews/new" class="btn btn-primary">Be the first to review</a>
        <% else %>
                <a href="/logins/new" class="btn btn-primary">Sign in to leave a review</a>
        <% end %>
    </div>
</div>

<div class ="row">
    
        <div class="container mt-5">
            <iframe
            width="400"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @formatted_lat_long %>&zoom=15" allowfullscreen>
            </iframe>
        </div>
</div>